<div class="page">
  <h2>Kontakt</h2>
  <%= form_tag :action => 'send_contact_form'  %>

      <h5>Name</h5>
      <%= text_field "author", "name" %>

      <h5>E-Mail</h5>
      <%= text_field "author", "email" %>

      <h5>Nachricht</h5>
      <%= text_area    "author", "message" %><br/>

      <%= submit_tag "Schicken" %>

  </form>
  <h4>Ute Rathmann</h4>
  <p>
    Mail: <a href="mailto:ute@uterathmann.com">ute@uterathmann.com</a><br><br>
    Tel: 01577 - 395 79 59
  </p>
  <p>
    Alle Bilder © Ute Rathmann 2009<br>
    Alle Rechte vorbehalten / All rights reserved
  </p>
</div>