<div class="series-container start">
  <div class="start-container">
    <h1><a href="<%= url_for @series.first.images.first %>">Ute Rathmann</a></h1>
    <h2><a href="<%= url_for @series.first.images.first %>">Zeichnungen Kostüme Collagen</a></h2>
    <a href="<%= url_for @series.first.images.first %>" class="next">Weiter</a>
  </div>
</div>
<% @series.each_with_index do |s,i| %>
<div class="series-container" id="series-<%= s.id %>" style="left:<%= i*1500 %>px;visibility:hidden">
  <div class="series" style="width: <%= s.images.first.width+294 %>px;">
    <a href="<%= s.higher_item.nil? ? "/" : url_for(s.higher_item.images.first) %>" class="prev">Prev</a>
    <h3><%= s.title %> <span><%= s.year %></span></h3>
    <div class="large-image">
    </div>
    <div class="sidebar">
      <ul class="thumbs show">
        <% s.images.each do |i| %>
        <li><% link_to i, :id => "img-#{i.id}", :data => "#{i.width},#{i.height},#{i.public_path},#{i.title},#{i.description},#{i.size},#{i.year},#{i.id},#{i.kaufen}" do %><img src="data:image/png;base64,<%= i.base64_version %>" width="70" height="70"><% end %></li>
          <% end %>
      </ul>
      <div class="info">
        <h4><%= s.images.first.title %></h4>
        <dl>
          <dt>Technik</dt>
          <dd><%= s.images.first.description %></dd>
          <dt class="<% if s.images.first.size.blank? %>hidden<% end %> size">Dimensionen</dt>
          <dd class="<% if s.images.first.size.blank? %>hidden<% end %> size"><%= s.images.first.size %></dd>
          <dt>Jahr</dt>
          <dd><%= s.images.first.year %></dd>
        </dl>
      </div>
      <div class="info">
        <h4><span class="<% unless s.images.first.kaufen %>hidden<% end %> hide-buy-link"><a href="#buy" class="buy-link">Kaufen</a></span><a href="#share" class="share-link twitter" title="Share bei Twitter">Twitter</a><fb:like layout="button_count" width="100" font="arial"></fb:like></h4>
      </div>
      <% if s.series_info %>
      <a href="#more" class="more-info" title="Mehr">More info</a>
      <% end %>
    </div>
    <a href="<%= s.lower_item.nil? ? "/vita" : url_for(s.lower_item.images.first) %>" class="next">Next</a>
  </div>
  <% if s.series_info %>
  <div class="series-info-container" id="series-info-<%= s.series_info.id %>">
    <div class="series-info">
      <h3><%= s.series_info.title %></h3>
      <div><%= s.series_info.description %></div>
      <a href="#more" class="back">More info</a>
    </div>
  </div>
  <% end %>
</div>
<% end %>

<div class="series-container vita" style="left:5000px">
  <div class="page">
    <a href="<%= url_for @series.last.images.first %>" class="prev">Prev</a>
    <h3>Vita</h3>
    <div class="vita-table">
      <img src="/images/ute.jpg" width="170" height="219" alt="ute" class="portrait">
      <table>
      <tr>
        <td class="year">1975</td><td>Geboren in Ratzeburg</td>
      </tr>
      <tr>
      <td class="year">1994–1997</td><td>Ausbildung zur Herrenschneiderin</td>
      </tr>
      <tr>
      <td class="year">1997–2002</td><td>Studium an der <a href="http://www.kh-berlin.de/" target="_blank">Kunsthochschule Berlin-Weißensee</a><br>Fachrichtung Mode-Design, Abschluss: Diplom</td>
      </tr>
      <tr>
      <td class="year">seit 2002</td><td>Tätig als freischaffende Künstlerin</td>
      </tr>
      <tr>
      <td class="year">2003</td><td>Ernennung zur Meisterschülerin von Christine Perthen</td>
      </tr>
      <tr>
      <td class="year">seit 2004</td><td>Lehrauftrag an der <a href="http://www.kh-berlin.de/" target="_blank">Kunsthochschule Berlin-Weißensee</a></td>
      </tr>
      <tr>
      <td class="year">2006</td><td>Gastprofessur an der <a href="http://www.kh-berlin.de/" target="_blank">Kunsthochschule Berlin-Weißensee</a></td>
      </tr>
      <tr>
      <td class="year">seit 2007</td><td>Fachlehrerin am <a href="http://www.lette-verein.de/" target="_blank">Lette-Verein Berlin</a>, FG Mode-Design</td>
      </tr>
      <tr>
      <td class="year">seit 2008</td><td>Freischaffende Kostümbildnerin am <a href="http://www.theater-im-palais.de/" target="_blank">Theater im Palais</a>, Berlin Unter den Linden</td>
      </tr>
      </table>
    </div>
    
    <a href="#more" class="more-info" title="Einzel- und Gruppenausstellungen">More info</a>
    
    <div class="series-info-container">
      <div class="series-info">
        <h3>Einzel- und Gruppenausstellungen</h3>
        <div class="vita-table ausstellungen">
          <table>
            <tr>
              <td class="year">2001</td>
              <td>„Weißenseer Fenster - Arten der Zeichnung“, Verlagsgebäude der Berliner Zeitung</td>
            </tr>
            <tr>
              <td class="year">2002</td>
              <td>Galerie M in Berlin-Marzahn</td>
            </tr>
            <tr>
              <td class="year">2003</td>
              <td>„Figur und Kleid“, <a href="http://www.kulturring.org/galerien.php" target="_blank">Studio Bildende Kunst</a>, Kulturamt Lichtenberg von Berlin</td>
            </tr>
            <tr>
              <td class="year">2004</td>
              <td>„Art Club“, Kunstverein Burgwedel/ Isernhagen<br>
              Galerie Bilderwelten, Berlin- Prenzlauer Berg</td>
            </tr>
            <tr>
              <td class="year">2006</td>
              <td>„Christine Perthen und Schüler“(Gedenkausstellung), Kunsthochschule Berlin- Weißensee<br>
              „Anonyme Zeichner 2“, <a href="http://www.anke-becker.de/anonyme_zeichner.576.0.html" target="_blank">Galerie Blütenweiss</a>, Berlin-Mitte<br>
              „Kleid und Kostüm“, Handzeichnungen, Galerie in der <a href="http://www.lithowerkstatt-berlin.de/" target="_blank">Lithowerkstatt</a>, Berlin-Treptow</td>
            </tr>
            <tr>
              <td class="year">2007</td>
              <td>„Mode meets Malen - Modemiezen malen“, <a href="http://www.kloetzeundschinken.de/" target="_blank">Merz, Schau!raum für Unikate, Berlin</a><br>
              „Kunst trifft Mode“, Galerie k20, Berlin</td>
            </tr>
            <tr>
              <td class="year">2008</td>
              <td>Plakat und Kostümentwürfe, <a href="http://www.theater-im-palais.de/" target="_blank">Theater im Palais</a>, Berlin<br>
              „24“, Galerie k20, Berlin</td>
            </tr>
            <tr>
              <td class="year">2009</td>
              <td>„Meine Verehrung“, <a href="http://www.kloetzeundschinken.de/" target="_blank">Klötze und Schinken</a>, Berlin<br>
              „Das Schiele-Projekt“, <a href="http://www.nummer-sieben.de/sieben_content.html" target="_blank">Projektraum sieben</a>, Berlin<br>
              „Ein Sommernachtstraum“, <a href="http://www.30links.de/at30/30ausstellungen/" target="_blank">30 Links</a>, Berlin<br>
              „The Big Draw“, Lange Nacht der Museen, <a href="http://www.smb.museum/smb/kalender/details.php?objID=24326" target="_blank">Kunstgewerbemuseum</a>, Berlin</td>
            </tr>
            <tr>
              <td class="year">2010</td>
              <td>„Handzeichnungen und Druckgraphik“, <a href="http://www.kulturring.org/galerien.php" target="_blank">Studio Bildende Kunst</a>, Berlin<br>
              „Auge, Hand und Sinne“, <a href="http://www.atelierlaubbach.de/kuenstler_rathmann.htm" target="_blank">atelier laubbach</a>, Ostrach-Laubbach</td>
            </tr>
          </table>
        </div>
        <a href="#more" class="back">More info</a>
      </div>
    </div>
    <a href="/presse" class="next">Next</a>
  </div>  
</div>

<div class="series-container presse" style="left:5000px">
  <div class="page">
    <a href="/vita" class="prev">Prev</a>
    <h3>Presse</h3>
    <div class="vita-table narrow">
      <blockquote>
        <p>„Ute Rathmanns Zeichnungen hier sind ausschließlich vor dem Modell entstanden, vor der Natur (also nicht nach ihr). Doch die eher eindeutige Darstellung des Modells, des ganzen Gegenüber, hat sie aufgegeben zugunsten einer Mischform: Genaues im Ungenauen, sich Auflösenden. Manchmal gibt es sehr naturnahe Köpfe bei ihr, vereinzelt Hände, denen sich freie rhythmische Linien aus der Gegend des Informel bis zur Überlagerung nähern. Beinernes wie Körper, Schädel, zwingt sie zur „Maßtreue“, aber Gewand, Kleid, Stoff, Tuch, Mütze erlauben ihr, zeichnerisch auszuufern, entlassen sie in die totale graphische Freiheit – in die FREIE ZEICHNUNG, die unvernünftige, schönheitstrunkene, von jedem Zweck befreite.“</p>
        <p class="credit">
        <strong><a href="http://www.kh-berlin.de/index.php5?roleID=&amp;groupID=4&amp;personID=1109&amp;Action=showGroupPerson" target="_blank">Prof. Christine Perthen</a></strong><br>
        Auszug aus einem Text für das Heft „Zeichnung“, eine Publikation der Kunsthochschule <a href="http://www.kh-berlin.de/" target="_blank">Berlin-Weißensee</a> (2002/2003)
        </p>
      </blockquote>
      <h5>Texte zu Ausstellungen und Projekten</h5>
      <p class="links">
        <a href="#series-info-1">Rokoko »</a> | <a href="#series-info-2">Engel »</a> | <a href="#series-info-4">Das Schiele - Projekt »</a> | <a href="#series-info-3">Kleid-Studien »</a> | <a href="#series-info-5">Das Kleid als Leinwand »</a><br><a href="#series-info-7">Kostüme (Molière) »</a> | <a href="#series-info-6">Kostüme (O. Wilde) »</a>
      </p>
    </div>
    <a href="/kontakt" class="next">Next</a>
  </div>
</div>

<div class="series-container kontakt" style="left:5000px">
  <div class="page" style="width: 350px">
    <a href="/presse" class="prev">Prev</a>
    <h3>Kontakt</h3>
    <form id="contact-form">
        <h5>Name</h5>
        <%= text_field "author", "name" %>

        <h5>E-Mail</h5>
        <%= text_field "author", "email" %>

        <h5>Nachricht</h5>
        <%= text_area    "author", "message" %><br/>
        <div>
          <strong>Ihre Nachricht wurde gesendet</strong> <%= submit_tag "Schicken" %>
        </div>
    </form>
    <div class="info">
      <h4>Ute Rathmann</h4>
      <p>
        <strong>Mail</strong> <a href="mailto:ute@uterathmann.com">ute@uterathmann.com</a><br>
        <strong>Facebook</strong> <a href="http://www.facebook.com/pages/Ute-Rathmann/159762380715924" target="_blank">Ute Rathmann</a><br>
        <strong>Tel</strong> 0151 - 10 98 69 55
      </p>
      <p>
        Alle Bilder © Ute Rathmann 2009-2010<br>
        Alle Rechte vorbehalten / All rights reserved
      </p>
      <p><a href="/impressum">Impressum »</a></p>
    </div>
  </div>
</div>

<div id="buy-interest">
  <h4>Kaufinteresse</h4>
  <a href="#close" class="close"></a>
  <p>Bild "<span></span>" kaufen</p>
  <form id="buy-form" action="/images/buy">
      <%= hidden_field "buy", "id" %>
      <%= hidden_field "buy", "title" %>
      <h5>Name</h5>
      <%= text_field "buy", "name" %>

      <h5>E-Mail</h5>
      <%= text_field "buy", "email" %>

      <h5>Nachricht</h5>
      <%= text_area    "buy", "message" %><br/>
      <div>
        <strong>Ihre Nachricht wurde gesendet</strong> <a href="#close">Schließen</a> <%= submit_tag "Schicken" %>
      </div>
  </form>
</div>

<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({appId: 'your app id', status: true, cookie: true,
             xfbml: true});
  };
  (function() {
    var e = document.createElement('script'); e.async = true;
    e.src = document.location.protocol +
      '//connect.facebook.net/en_US/all.js';
    document.getElementById('fb-root').appendChild(e);
  }());
</script>
