<ul class="thumbs show">
<% @image.series.images.each do |i| %>
<li><% link_to(i) do %><img src="<%= i.public_thumb_path %>" width="<%= i.width_thumb %>" height="<%= i.height_thumb %>"><% end %></li>
<% end %>
</ul>
<h3><%= @image.series.title %> » <%= @image.title %> • <%= link_to "Zurück zum Übersicht", start_url %></h3>
<img src="<%= @image.public_path %>" class="large">