<html>
  <head>
    <title><%= @image.title %></title>
    <meta name="title" content="Ute Rathmann – <%= @image.title %>" />
    <meta name="medium" content="image" />
    <meta name="description" content="<%= @image.description %>" />
    <link rel="image_src" href="http://uterathmann.com<%= @image.public_thumb_path %>" / >
  </head>
  <body>
  <script type="text/javascript">
    window.location.replace("http://uterathmann.com/#image-<%= @image.id %>-series-<%= @image.series.id %>");
  </script>
<!--  <div class="large" style="width:<%= @image.width %>px">
    <img src="<%= @image.public_path %>" class="large" width="<%= @image.width %>" height="<%= @image.height %>" alt="<%= @image.title %>">
    <div><%= @image.description %> <span><%= @image.size %></span></div>
  </div>-->
  </body>
</html>
