<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en" xmlns:og="http://opengraphprotocol.org/schema/">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Ute Rathmann</title>
  <% if @image %>
    <meta property="og:title" content="Ute Rathmann – <%= @image.title %>"/>
    <meta property="og:description" content="<%= @image.description %>"/>
    <meta property="og:image" content="http://uterathmann.com<%= @image.public_thumb_path %>"/>
  <% end %>
	<meta name="author" content="Eric Wahlforss">
  <%= stylesheet_link_tag "general.css", :media => "all" %>
  <%= javascript_include_tag "jquery-1.4.min" %>
  <%= javascript_include_tag "jquery.cookie" %>
  <%= javascript_include_tag "jquery.easing" %>
  <%= javascript_include_tag "application" %>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-18786991-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  </head>
<body>
  <div id="header">
    <div id="pos-head"></div>
    <div id="header-inner">
      <a href="/" class="start">Startseite</a>
      <% @series.each_with_index do |s,i| %>
        <a class="series-link" href="<%= url_for s.images.first %>"><%= i+1 %> <span><%= s.title %></span></a>
      <% end %>
      <%= link_to "Vita",vita_url, :class => "vita" %>
      <%= link_to "Presse",presse_url, :class => "presse" %>
      <%= link_to "Kontakt",kontakt_url, :class => "kontakt" %>
    </div>
  </div>
  <div id="main">
    <%= yield %>
  </div>
</body>
</html>
